REACT_APP_NAME=Déclaration préalable de travaux
REACT_APP_DESCRIPTION=Déposer en ligne votre déclaration préalable de travaux
REACT_APP_BASENAME=/
PUBLIC_URL=http://localhost:3000
REACT_APP_API=http://localhost:5000/api